DATABASE_URL="mongodb+srv://<user>:<password>@cluster.mongodb.net/api-monitor?retryWrites=true&w=majority"

JWT_SECRET="change-me-to-a-random-secret-string"
JWT_EXPIRY="15m"
JWT_REFRESH_SECRET="change-me-to-another-random-secret"
JWT_REFRESH_EXPIRY="7d"

PORT=4000
